.battleArea {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-evenly;
}
.battle-area-first-section {
  display: flex;
  justify-content: space-evenly;
}

.playerArea {
  display: flex;
  flex-flow: column;
  order: 1;
}

.computerArea {
  display: flex;
  flex-flow: column;
  order: 2;
}

.attack {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin: 1rem 0;
  border-radius: 3px;
  align-self: center;
}

.attack > button > img {
  width: 80%;
}

.handSign {
  border: 0 !important;
  box-shadow: none !important;
}

.scoreBoard {
  display: flex;
  justify-content: space-between;
}

.msgBox {
  width: 160px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d4c51;
  border-radius: 5px;
  margin: 5% 0 5% 0;
}

.msgBox > span {
  text-align: center;
}
.battle-area-second-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .playerArea {
    order: 1;
    width: 50%;
  }
  .computerArea {
    order: 2;
    width: 50%;
  }
  .attack {
    width: auto;
  }

  .handSign {
    padding: 5px !important;
  }
}
