.battleArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.playerArea {
  display: flex;
  flex-flow: column;
  order: 1;
}

.computerArea {
  display: flex;
  flex-flow: column;
  order: 2;
}

.scoreArea {
  display: flex;
  flex-flow: column;
  order: 2;
}

.attack {
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin: 5% 0 5% 0;
  border-radius: 5px;
  background-color: #d8dcd6;
}

.hh > img {
  width: 100%;
}

.handSign {
  border: 0 !important;
  box-shadow: none !important;
}

.scoreBoard {
  display: flex;
  justify-content: space-between;
}

.msgBox {
  width: 160px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d4c51;
  border-radius: 5px;
  margin: 5% 0 5% 0;
}

.msgBox > span {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .playerArea {
    order: 1;
    width: 50%;
  }
  .computerArea {
    order: 2;
    width: 50%;
  }
  .scoreArea {
    order: 3;
  }
  .attack {
    width: 150px;
    align-self: center;
  }
  .handSign {
    padding: 5px !important;
  }
}
