.signBox {
  width: 250px;
  height: 250px;
  border: 2px rgb(144, 164, 174) solid;
  align-self: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signBox > img {
  width: 70%;
  height: 90%;
}

@media screen and (max-width: 768px) {
  .signBox {
    width: 150px;
    height: 150px;
  }
}
