.signBox {
  width: 210px;
  height: 210px;
  border: 2px rgb(144, 164, 174) solid;
  align-self: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.computer-signbox {
  width: 210px;
  height: 210px;
  border: 2px rgb(144, 164, 174) solid;
  align-self: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signBox > img {
  width: 60%;
  height: 60%;
}

.computer-signbox > img {
  width: 60%;
  height: 60%;
  transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
  .signBox {
    width: 130px;
    height: 130px;
  }
  .computer-signbox {
    width: 130px;
    height: 130px;
  }
}
