.scoreBox {
  display: flex;
  width: 80px;
  height: 80px;
  border: 2px #778899 solid;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 2%;
}

.scoreBox > span {
  color: #212529;
  font-weight: bolder;
  font-size: xx-large;
}

@media screen and (max-width: 768px) {
  .scoreBox {
    width: 70px;
    height: 70px;
  }
  .scoreBox > span {
    font-size: x-large;
  }
}
